
<td class="resultRow">
    <span>{{name}}</span><input  data-placement="top" onkeypress="return isNumberList(event)" title="Boş Geçilemez!" type='text' id="name" class="form-control text-center nameAdd" style='display: none;'
                                       value='{{name}}'/>
</td>
<td class="resultRow">
    <span>{{description}}</span><input  data-placement="top" onkeypress="return isNumberList(event)" title="Boş Geçilemez!" type='text' id="description" class="form-control text-center descriptionAdd" style='display: none;'
                                              value='{{description}}'/>
</td>



<td class="resultRow">
    <span>{{deadline}}</span><input  data-placement="top" onkeypress="return isNumberList(event)" title="Boş Geçilemez!" type='date' id="deadline" class="form-control text-center deadlineAdd" style='display: none;'
                                        value='{{deadline}}'/>
</td>

<td class="resultRow">
    <span>{{status}}</span>

    <select id="status" data-placement="top" onkeypress="return isNumberList(event)" title="Boş Geçilemez!" type='date' class="form-control text-center statusAdd" style='display: none;'
            value='{{deadline}}'>
        <option  value="false">incomplete</option>
        <option  value="true">complete</option>


    </select>


</td>






<td class="resultRow editHeader">
    <button class="btn btn-success btn-sm editTravel">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;
    </button>
    <button class="btn btn-primary btn-sm updateTravel" style='display: none;'>
        <i class="glyphicon glyphicon-ok"></i>&nbsp;
    </button>


    <button class='btn btn-danger btn-sm deleteTravel' >
        <span class="glyphicon glyphicon-trash"></span>&nbsp;
    </button>
    <button class="btn btn-danger btn-sm cancelEdit" style='display: none;'>
        <i class="glyphicon glyphicon-remove"></i>&nbsp;
    </button>
</td>


